/* Start of 'universal' 'elements' */

label {
    display: block;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.eye-img {
    width:18px;
    height:28px;
    font-weight: bold;
    margin-right: .25rem;
}

.book-img {

}
.trashcan-img {

}

.home-link {
    text-decoration: none;
}
.home-icon {
    vertical-align: sub;
    margin-right: .4rem;
}
.nav-bar {
    background-color:#e2e2e2de;
    color:#575454d4;
    border-radius: 5px;
    font-size: 1.3rem;
    padding: 1rem;
    margin-bottom: 2rem;
}

.edit-img {

}

.add-img {
    width: 20px;
    height: 21px;
}

/* End of 'universal' 'elements' */

/* Start of './Layout/index.js' */

.Layout-index-deck-div {
    border: 1px solid #dfd6d6;
    padding: 1.1rem;
    border-radius: 5px;
}

.create-deck-btn {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 1%;
}

.trashcan-btn {
    justify-self: flex-end;
}
.Layout-index-btns-div {
    display: flex;
}

.Layout-index-view-deck-btn {
 margin-right: 1%; 
 background-color: #6c757d;
 color: #fff;
 border:1px solid #6c757d;
 padding: .01rem 2.75rem;
 border-radius: 6px;
 text-decoration: none; 
 align-items: center;
 justify-content: center;
 width: 4.7rem;
 display: flex;
}

/*.view-link:hover {
    color: #fff;
    background-color: #5c636a;
    border-color: #565e64;
    text-decoration: none; 
}
.view-link:active {
    color: #fff;
    background-color: #565e64;
    border-color: #51585e;
    text-decoration: none; 
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.view-link:focus {
    color: #fff;
    text-decoration: none;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.view-link:disabled {
    color: #fff;
    text-decoration: none; 
    background-color: #6c757d;
    border-color: #6c757d;

    .study-link:hover {
     border-color: #0a58ca;
     background-color: #0b5ed7;
     color:#fff;   
     text-decoration: none;
}


.study-link:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    text-decoration: none;
    border-color: #0a58ca;
    color: #fff;
    border-color: #0a53be;
}
.study-link:focus {
    box-shadow: rgb(49, 132, 253);
    text-decoration: none;
}

.study-link:disabled {
    background-color: #0d6efd;
    border-color: #0d6efd;
    color: #fff;
    text-decoration: none;
}

}
*/
.Layout-index-study-deck-btn {
    margin-right: 75%; 
    background-color: #0d6efd;
    color:#fff;
    padding: .1rem 3.25rem .1rem 2.75rem;
    border-radius: 6px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5.4rem;
    gap: 3px;
}

.Layout-index-delete-deck-btn {

}

.create-deck-link {
    background-color: #6c757d;
    color: #fff;
    border:1px solid #6c757d;
    padding: 6px 12px;
    border-radius: 6px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 11%;
    gap: 5px;  
    margin-bottom: 1.5%;
}

.create-deck-link:hover {
    color: #fff;
    text-decoration: none;
    background-color: #5c636a;
    border-color: #565e64;
}

.create-deck-link:focus {
    color: #fff;
    text-decoration: none;
    box-shadow: rgb(130, 138, 145);
}

.create-deck-link:active {
    color: #fff;
    text-decoration: none;
    background-color: #565e64;
    border-color: #51585e;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.create-deck-link:disabled {
    color: #fff;
    text-decoration: none;
    background-color: #6c757d;
    border-color: #6c757d;
}


.trashcan-link {
    color: #fff;
    background-color: #dc3545;
    border:1px solid #dc3545;
    padding: .8rem 0;
    border-radius: 6px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.4rem;
    gap: 5px;
}
.trashcan-link:hover {
    background-color: #bb2d3b;
    color:#fff;
    border-color: #b02a37; 
    text-decoration: none; 
}

.trashcan-link:focus {
    box-shadow: rgb(225, 83, 97);
    text-decoration: none;
}

.trashcan-link:active {
    color: #fff;
    background-color: #b02a37;
    border-color: #a52834;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    text-decoration: none;
}
.trashcan-link:disabled {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    text-decoration: none;
}
.Layout-index-card-count-div {
    display:inline-block;
    color: #a5a5a5;
}

.Layout-index-deck-title {
    display:inline-block;
    color: #676666;
}

.Layout-index-header-card-count-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Layout-index-deck-description {
    color: #676666;
}

.Layout-indexheader-card-count-div {

}
/* End of './Layout/index.js' */


/* Start of CreateDeck.js */


.createDeck-create-deck-h1 {

}

#CreateDeck-name, #CreatDeck-description {
    display: block;
    width: 100%;
    margin-top: .5rem;
    padding: .5rem;
}

#CreateDeck-description {
    height: 10rem;
}
.CreateDeck-cancel-btn {
    margin-right: .5rem;
}
.CreateDeck-submit-btn {

}
/* End of CreateDeck.js */

/* Start of AddCard.js */

#AddCard-front-card, #AddCard-back-card {
    display: block;
    width: 100%;
}
.AddCard-done-btn {
    margin-right: .5rem;
}

.AddCard-save-btn {

}

/* End of AddCard.js */


/* Start of Study.js */

.Study-flip-btn {
    margin-right: .5rem;
}

.Study-next-btn {

}

.Study-add-cards-to-deck {

}

/* End of Study.js */


/* Start of Deck.js */
.Deck-select-deck-btns-div {

}

.Deck-select-deck-btns-div > * {
    margin-right: .5rem;
}

.Deck-select-deck-btns-div :nth-child(3) {
    margin-right: 67%;
}

.Deck-card-div {
    border: 1px solid #dfd6d6;
    padding: 1.1rem;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 30px;
}

.Deck-card-div-btns-div {
    display: flex;
    gap: .5rem;
}
.Deck-card-div-front-div {
    width: 21%;
}

.Deck-card-div-front-p {

}

.Deck-card-div-back-div {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 21%;
    justify-content: center;
}

.Deck-card-div-back-p {

}

.Deck-select-deck-div {
    margin-bottom: 1.5rem;
}
.card-div:has(.Deck-card-div-back-div):has(.Deck-card-div-btns-div):has(.Deck-delete-card-btn):active,
.Deck-select-deck-div:has(.select-deck-btns-div):has(.Deck-delete-deck-btn):active {
background-color: #d7d7d7d9;
}
.Deck-cards-div {

}

.Deck-edit-deck-btn{

}

.Deck-edit-card-Btn {

}
.Deck-study-deck-btn {

}

 .Deck-add-cards-to-deck-btn {

 }

 .Deck-delete-deck-btn {

 }
/* End of Deck.js */



/* Start of EditDeck.js */

#EditDeck-deck-name, #EditDeck-deck-description {
    display: block;
    width: 100%;
}

#EditDeck-deck-description {
    height: 12rem;
    margin-bottom: 1rem;
}

.EditDeck-cancel-btn {
    margin-right: .5rem;
}

/* End of EditDeck.js */


/* Start of EditCard.js */

.EditCard-cancel-btn {
    margin-right: .5rem;
}

.EditCard-submit-btn {

}
#EditCard-front-text, #EditCard-back-text {
    display: block;
    width: 100%;
    overflow-y: auto;
    padding-left: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

#EditCard-front-text {
    height: 5.7rem;
}

#EditCard-back-text {
    height: 6rem;
    margin-bottom: 1rem;
    width: 100%;
}

.EditCard-front-text-label {
    width: 100%;
}

/* End of EditCard.js */